# OpenAI
OPENAI_API_KEY=your_real_key

# 数据库
DATABASE_URL=postgresql://postgres:password@db:5432/coursemate

## AWS
#AWS_ACCESS_KEY_ID=your_key_here
#AWS_SECRET_ACCESS_KEY=your_secret_here
#AWS_REGION=us-east-1
#S3_BUCKET_NAME=coursemate-pdfs
#SQS_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/xxx/coursemate

# JWT
SECRET_KEY=anythingisok